body {
    background: #222;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: 0; outline: 0; background: #ebfffc;
    color: #555; padding: 10px 25px;
    height: 30px; border-radius: 30px;
    flex: 1; margin-right: 16px; font-size: 15px;
}

button {
    border: 0; outline: 0; background: #ebfffc;
    border-radius: 50%; width: 50px; height: 50px;
    cursor: pointer; font-size: 10px;
}

.temp { font-size: 60px; margin-top: 20px; }
.city { font-size: 35px; font-weight: 500; margin-top: -10px; }
.details { display: flex; align-items: center; justify-content: space-around; margin-top: 30px; }
