* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06283D; /* To'q ko'k fon */
    background-size: cover;
    background-position: center;
}

.app-container {
    position: relative;
    width: 400px;
    height: 550px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 25px;
    color: #fff;
    text-align: center;
}

.search-box {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 0 15px;
}

.search-box input {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
}

.search-box button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.weather-box img {
    width: 150px;
    margin-top: 20px;
}

.temperature {
    font-size: 64px;
    font-weight: 800;
    margin: 10px 0;
}

.description {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.humidity, .wind {
    display: flex;
    align-items: center;
}

.weather-details i {
    font-size: 25px;
    margin-right: 10px;
}

.text span {
    font-size: 20px;
    font-weight: 700;
}
